# Notion Integration untuk Blog Content
POSTS_DIR=public/posts

# Website Configuration
NEXT_PUBLIC_BASE_URL=https://blog.mizar.my.id/portofolio/
NEXT_PUBLIC_BASE_PATH=

# Optional: Analytics
# NEXT_PUBLIC_GA_ID=your_google_analytics_id 