# Notion Integration untuk Blog Content
NOTION_TOKEN=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
NOTION_DATABASE_ID=228db469a81d80c19c80fd9d079e05c0?v=228db469a81d8003b84d000c8b5f125f
POSTS_DIR=public/posts

# Website Configuration
NEXT_PUBLIC_BASE_URL=https://blog.mizar.my.id/portofolio/
NEXT_PUBLIC_BASE_PATH=

# Optional: Analytics
# NEXT_PUBLIC_GA_ID=your_google_analytics_id 